@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>REALEYES HOMEWORK</h1>


</div>

<div class="row">
    <p>
        Build a currency exchange ASP.NET/C# MVC/AJAX web application. For that use the xml feed at

        <a href="http://www.ecb.europa.eu/stats/eurofxref/eurofxref-hist-90d.xml"> http://www.ecb.europa.eu/stats/eurofxref/eurofxref-hist-90d.xml</a> and store currency rates in an in-
        memory data-structure or database.
    </p>

    <p>Build a web interface that provides:</p>

    <p>
        1. Exchange facility between two arbitrary currencies using the latest rate
    </p>

    <p>
        2. Make sure when using the exchange facility there is no page reload and currency is computed
        asynchronous AJAX calls
    </p>

    <p>
        3. Historical data presentation for any selected currency using Rickshaw or with any other client-
        side charting component with similar functionalities(<a href="https://shutterstock.github.io/rickshaw/">https://shutterstock.github.io/rickshaw/</a>)
    </p>

    <p>
        4. Make the historical currency representation interactive like in this example
        (<a href="https://shutterstock.github.io/rickshaw/examples/lines.html">https://shutterstock.github.io/rickshaw/examples/lines.html</a>)
        It’s possible that you might have some errors/problems with Rickshaw. In this case it’s also a part of the
        test to solve these problems.
    </p>

</div>